/*------------------------------------*\
#FONTS
\*------------------------------------*/

@font-face {
    font-family: 'Allura';
    font-weight: 400;
    src: url('../fonts/Allura-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Raleway';
    font-weight: 400;
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Raleway-SemiBold';
    font-weight: 600;
    src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');
  }
  
  /*------------------------------------*\
  #Variables
  \*------------------------------------*/
  
  :root {
    /* colors */
    --global-color-alpha-light: #3738A6; 
    --global-color-alpha: #2E2F8B;
    --global-color-alpha-dark: #262773;
    --global-color-alpha-transparent: #3385ffbf;
    --global-color-alpha-x-transparent: #3385ff4d;
    --global-color-beta: #F8B000; 
  
    --global-color-neutral-x-light: #ffffff;
    --global-color-neutral-light: #F3F3F6;
    --global-color-neutral: #DFDFDF;
    --global-color-neutral-dark: #CBCBCB;
    --global-color-neutral-x-dark: #b1b1b1;
    --global-color-neutral-xx-dark: #222222;
    --global-color-neutral-xxx-dark: #1F1F1F;

    --global-backgroundcolor-dark: var(--global-color-neutral-light);
    --global-backgroundcolor-light: var(--global-color-neutral-x-light);
    /* border  */
    --global-borderRadius: 8px;
    --global-borderWidth: 1px;
  
    /* transitions */
    --global-transitionTiming-alpha: 0.1s ease-out;
  
    /* Baseline settings */
    --global-baseline: 8px;
    --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */
  
    --global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
    --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
    --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
    --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
    --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
    --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */
  }
  
  /* @media (prefers-color-scheme: dark) {
      :root{--global-input-backgroundColor: White;
      --global-input-color: var(--global-color-neutral-xxxx-dark);
      --global-input-borderColor: var(--global-color-neutral-xxx-light);
      --global-input-hover-borderColor: var(--global-color-neutral-xx-light);
      --global-input-focus-borderColor: var(--global-color-alpha);
      --global-input-boxShadow: 0 0 0 3px var(--global-color-alpha-x-transparent);
      } */
 
      
html {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Raleway', Helvetica, arial, sans-serif;
  color: var(--global-color-alpha);
  background-color: var(--global-backgroundcolor-light);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 36px;
  line-height: calc(var(--global-baseline) * 6);
  margin: 0 0 var(--global-whitespace);
}

h2 {
  font-size: 32px;
  line-height: calc(var(--global-baseline) * 5);
  margin: 0 0 var(--global-whitespace);
}

h3 {
  font-size: 26px;
  line-height: calc(var(--global-baseline) * 4);
  margin: 0 0 var(--global-whitespace);
}

h4,
h5,
h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: calc(var(--global-baseline) * 3);
  margin: 0 0 var(--global-whitespace);
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 var(--global-whitespace);
}

ul,
ol {
  padding-left: var(--global-whitespace);
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: normal;
  font-size: 23px;
  line-height: calc(var(--global-baseline) * 6);
  margin: 0 0 var(--global-whitespace);
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(var(--global-baseline) * 2);
  margin-top: var(--global-whitespace-xxs);
}

hr {
  border: 0;
  height: var(--global-borderWidth);
  background: LightGrey;
  margin: 0 0 var(--global-whitespace);
}

a,
a:visited {
  transition: all var(--global-transitionTiming-alpha);
  color: var(--global-color-alpha);
  outline-color: var(--global-link-BoxShadowColor);
  outline-width: medium;
  outline-offset: 2px;
}

a:hover,
a:focus {
  color: var(--global-color-alpha);
}

a:active {
  color: var(--global-color-alpha);
}

label,
input {
  display: block;
}

input::placeholder {
  color: var(--global-color-neutral-x-light);
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/


.o-container {
    max-width: 56em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  
/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
  height: var(--global-whitespace);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--global-whitespace-lg);
}


/*
    Component: Forms
    ---
    Everything form related here
*/

.c-form {
    width: 25em;
    margin: auto;
    margin-top: 48;
}

.c-form-title {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 120px;
}

.c-form-field--option {
  display: flex;
  align-items: center;
}

/*
    Component: Input
    ---
    Class to put on all input="text" like form inputs
*/

.c-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: var(--global-borderWidth) solid var(--global-color-neutral);
  border-radius: var(--global-borderRadius);
  color: var(--global-color-neutral-xx-dark);
  background-color: var(--global-color-neutral-x-light);
  font-family: inherit;
  font-size: 16px;
  line-height: calc(var(--global-baseline) * 3);
  padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth))
    var(--global-whitespace-md);
  outline: none;
  transition: border var(--global-transition-timing-alpha);
  margin-bottom: 48px;
}

.c-input:hover {
  border-color: var(--global-color-neutral-x-dark);
}

.c-input:focus,
.c-input:active {
  border-color: var(--global-color-alpha);
}

/* option input for checkboxes and radio buttons */

/*
    Component: Label
    ---
    Class to put on all form labels
*/

.c-label {
  margin-bottom: 0;
  font-size: 14px;
  padding-bottom: var(--global-whitespace-xs);
  line-height: calc(var(--global-baseline) * 2);
}

.c-label--option {
  padding-bottom: 0;
}

.c-label-account {
    margin: 8px;
    text-align: center;
  }

/*
    Component: Button
    ---
    Class to put on form buttons or
*/

.c-button {
  font-size: 16px;
  font-weight: 700;
  border-radius: var(--global-borderRadius);
  background-color: var(--global-color-alpha);
  color: #fff;
  padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth))
    var(--global-whitespace-md);
  line-height: calc(var(--global-baseline) * 3);
  width: 100%;
  outline: none;
  transition: all var(--global-transition-timing-alpha);
}

.c-button:hover {
  background-color: var(--global-color-alpha-light);
}

.c-button:focus {
  box-shadow: 0 0 0 3px var(--global-color-alpha-x-transparent);
}

.c-button:active {
  background-color: var(--global-color-alpha-dark);
  box-shadow: none;
}


/*
    Component: Option list
*/

.c-option-list {
  margin-bottom: var(--global-whitespace);
}

.c-option-list__item {
  margin-bottom: calc(var(--global-whitespace) / 2);
}

/*
    Custom option
    ---
    Custom checkboxes
*/

/* Hide the actual input with the class .o-hide-accessible */

.c-custom-option {
  --custom-option__symbol-Fill: var(--global-color-alpha);
  display: flex;
  align-items: center;
}

.c-custom-option__fake-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--global-whitespace-md);
  height: var(--global-whitespace-md);
  margin-right: var(--global-whitespace-sm);
  border: var(--global-borderWidth) solid
    var(--custom-option-borderColor, var(--global-input-borderColor));
  background: var(--global-color-neutral-x-light);
  box-shadow: var(--custom-option-boxShadow, 0);
  transition: border var(--global-transitionTiming-alpha),
    box-shadow var(--global-transitionTiming-alpha);
}

.c-custom-option__fake-input--checkbox {
  border-radius: var(--global-borderRadius);
}


.c-custom-option__symbol {
  display: block;
  opacity: 0; /* Hide the symbol initially */
  transform: scale(0.5);
  transition: transform var(--global-transitionTiming-alpha),
    opacity var(--global-transitionTiming-alpha);
}

.c-custom-option__fake-input--checkbox .c-custom-option__symbol {
  width: 10px;
  height: 10px;
  fill: var(--custom-option__symbol-Fill);
}

.c-option--hidden:checked + .c-custom-option .c-custom-option__symbol {
  opacity: 1; /* Show the symbol when the invisible checkbox/radio button is checked */
  transform: scale(1);
}

.c-option {
  margin-right: var(--global-whitespace-sm);
}

.c-option--hidden:checked + .c-custom-option .c-custom-option__fake-input--checkbox .c-custom-option__symbol {
    width: 11px;
    height: 11px;
    fill: white ;    
  }

.c-option--hidden:checked + .c-custom-option .c-custom-option__fake-input--checkbox  {
    background-color: var(--global-color-alpha);   
  }

.c-custom-option{
    display: flex;
    align-items: flex-start;
  }

.c-option--hidden + .c-custom-option .c-custom-option__fake-input{
    display: flex;
    width: 16px;
    height: 16px;
    border: 1px solid var(--global-color-alpha);
    margin-right: 8px;
  }

  .c-option--hidden:hover + .c-custom-option .c-custom-option__fake-input{
    border: 1px solid var(--global-color-beta);
  }

  .c-option--hidden:checked:hover + .c-custom-option .c-custom-option__fake-input--checkbox{
    background-color: var(--global-color-beta);
  }

  
.c-option--hidden + .c-custom-option .c-custom-option__fake-input--radio {
    
    border-radius: 100%;
}

.c-option--hidden + .c-custom-option .c-custom-option__fake-input--checkbox {
    
    border-radius: 3px;
  
}
/*
    Component: Error
    ---
    Error message formatting
*/

.c-error {
    opacity: 0;
    color: #cc0000;
}

/*
    Component: Login
    ---
    Login page components
*/

.c-login {
  display: flex;
}

.c-login__item {
  width: 50%;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.c-login__background {
  background: #F3F3F6;
}

/*
    Component: Slogan
    ---
    Everything slogan related here
*/

.c-slogan {
    display: flex;
    flex-direction: column;
}

.c-slogan-logo {
    width: 300px;
    align-self: center;
    margin-bottom: 205px;
}

.c-slogan-title {
    font-family: 'Allura', Helvetica, arial, sans-serif;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 63px;
}

.c-slogan-subtitle {
    font-size: 24px;
    max-width: 645px;
}


/*
    Component: Instellingen
    ---
    Instellingen page components
*/

.c-instellingen {
  display: flex;
  position: relative;
  height: 100vh;
}

.c-instellingen .c-sidebar {
  position: fixed;
  width: 24em;
  height: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.c-instellingen .c-sidebar .c-sidebar-logo {
  width: 300px;
  display: flex;
  margin: auto;
  margin-bottom: 70px;
  margin-top: 70px;
}

.c-instellingen .c-sidebar .c-sidebar-back {
  margin: 48px;
}

.c-instellingen .c-sidebar ul {
  padding-left: 48px;
}

.c-instellingen .c-sidebar ul li {
  padding: 16px;
  position: relative;
  list-style-type: none;
}

.c-instellingen .c-sidebar ul li a {
  color: var(--global-color-alpha);
  font-weight: 600;
  display: block;
  text-decoration: none;
}

.c-instellingen .c-sidebar .c-sidebar-back a {
  font-weight: 500;
  text-decoration: none;
}

.c-instellingen .c-sidebar .material-icons {
  width: 36px;
  color: var(--global-color-beta);
  vertical-align: middle;
}

.c-instellingen .c-sidebar ul li a .material-icons {
  width: 36px;
  color: var(--global-color-beta);
  vertical-align: middle;
}

.c-instellingen .c-sidebar ul li:hover,
.c-instellingen .c-sidebar ul li.active {
}

.c-instellingen .c-sidebar ul li a:hover {
}

/*
    Component: Instellingen - Profielen
    ---
    Instellingen - Profielen page components
*/

.c-instellingen .c-profielen {
  width: 100%;
  margin-left: 24em;
  background: #F3F3F6;
  box-sizing: border-box;
}

.c-instellingen .c-profielen .c-profielen-container {
  margin: 70px;
  width: calc(100% - 9em);
}

.c-instellingen .c-profielen .c-profielen-title {
  display: flex;
  justify-content: space-between;
  color: var(--global-color-neutral-x-dark);
}

.c-instellingen .c-profielen .c-profielen-subtitle {
  display: flex;
  justify-content: space-between;
}

.c-instellingen .c-profielen .c-profielen-title h1 {
  font-size: 24px;
}

.c-instellingen .c-profielen .c-profielen-list h2 {
  font-size: 16px;
}

.c-instellingen .c-profielen .c-profielen-title .material-icons {
  font-size: 32px;
  margin: 8px;
}

.c-instellingen .c-profielen .c-profielen-subtitle .material-icons {
  font-size: 24px;
  margin: 12px;
  color: var(--global-color-beta);
}

.c-instellingen .c-profielen .c-profielen-list {
  margin-left: 32px;
  padding-bottom: 16px;
}

.c-instellingen .c-profielen .c-profielen-list .c-profielen-voorkeuren {
  margin-bottom: 48px;
}

.c-instellingen .c-profielen .c-profielen-list .c-profielen-voorkeuren p {
  margin: 0;
  margin-left: 24px;
}



/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
  color: var(--global-color-neutral);
}

.u-color-neutral-dark {
  color: var(--global-color-neutral-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
  padding-top: 0 !important;
}

.u-mb-clear {
  margin-bottom: 0 !important;
}

.u-mb-xs {
  margin-bottom: var(--global-whitespace-xs) !important;
}

.u-mb-sm {
  margin-bottom: var(--global-whitespace-sm) !important;
}

.u-mb-md {
  margin-bottom: var(--global-whitespace-md) !important;
}

.u-mb-lg {
  margin-bottom: var(--global-whitespace-lg) !important;
}

.u-mb-xl {
  margin-bottom: var(--global-whitespace-xl) !important;
}

.u-mb-xl {
  margin-bottom: var(--global-whitespace-xl) !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
  max-width: 27em !important;
}

.u-max-width-sm {
  max-width: 39em !important;
}

.u-max-width-md {
  max-width: 50em !important;
}

.u-max-width-lg {
  max-width: 63.5em !important;
}

.u-max-width-none {
  max-width: none !important;
}

/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
  text-align: center;
}

.u-align-center {
  margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
  font-size: 14px;
}



@media (max-width: 1500px) {
    .c-login {
        display: unset;
    }

    .c-login__item {
        width: 100%;
        min-height: 50vh;
    }

    .c-slogan-logo {
        width: 300px;
        align-self: center;
        margin-bottom: 16px;
    }
    
    .c-slogan-title {
        font-family: 'Allura', Helvetica, arial, sans-serif;
        font-weight: 400;
        font-size: 32px;
        text-align: center;
        margin-bottom: 16px;
    }
    
    .c-slogan-subtitle {
        font-size: 24px;
        max-width: 645px;
        text-align: center;
    }

    .c-form-title {
        margin-bottom: 32px;
    }
}
